.account-container {
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-sidebar {
    width: 25%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra horizontalmente */
}

.account-sidebar h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.account-sidebar h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.account-sidebar p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.account-content {
    width: 70%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.tabs button {
    flex: 1;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.tabs button.active {
    background-color: #000;
    color: #fff; 
}

.tabs button:not(.active) {
    color: #000000;
}

.account-details input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.account-details label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.account-details button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.account-details button:hover {
    background-color: #333;
}

.order {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-info {
    margin-bottom: 20px;
}

.order-info h4 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.order-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.order-products ul {
    list-style-type: none;
    padding-left: 0;
}

.order-products ul li {
    background-color: #ffffff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-products ul li p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.order-products ul li img {
    max-width: 50px;
    border-radius: 5px;
    margin-left: 10px;
}

.status-delivered {
    color: green;
    font-weight: bold;
}

.status-pending {
    color: red;
    font-weight: bold;
}
