.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Kanit";
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #727272;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre "GainsHub" y el menú */
}

.logo h2 {
  font-size: 24px;
  margin: 0;
  color: #000000;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Espaciado entre Inicio y Categorías */
  margin: 0;
  padding: 0;
}

.navbar ul li {
  position: relative;
  font-size: 16px;
}

.navbar ul li a,
.navbar ul li span {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  display: block;
  transition: color 0.3s ease;
}

.navbar ul li span.categories-link:hover {
  color: #000000;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio reducido entre los íconos */
}

.user-options,
.wishlist-icon,
.carrito-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px; /* Tamaño reducido del contenedor */
  width: 30px;  /* Tamaño reducido del contenedor */
  cursor: pointer;
  position: relative;
}

.user-options img,
.wishlist-icon img,
.carrito-icon img {
  height: 100%; /* Ajuste al tamaño del contenedor */
  width: 100%; /* Ajuste al tamaño del contenedor */
  object-fit: cover; /* Asegurar que las imágenes llenen el contenedor */
}

.cart-count {
  position: absolute;
  top: -5px; /* Ajuste de posición para el contador */
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.dropdown-user {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-family: "Kanit";
  width: 150px; /* Ajuste del ancho */
  z-index: 1000;
  padding: 0; /* Eliminación de padding adicional */
}

.user-options:hover .dropdown-user,
.user-options:focus .dropdown-user {
  display: block;
}

.dropdown-user ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-user ul li {
  padding: 0;
  margin: 0;
}

.dropdown-user ul li button,
.dropdown-user ul li a {
  color: #000000;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 10px; /* Ajuste del padding */
  font-family: "Kanit";
  font-size: 14px; /* Ajuste del tamaño de fuente */
  box-sizing: border-box; 
}

.dropdown-user ul li a:hover,
.dropdown-user ul li button:hover {
  color: #ffffff;
  background-color: #000000;
  display: block; /* Asegura que el fondo ocupe todo el ancho del elemento */
  width: 100%; 
}

.dropdown-products {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  font-family: "Kanit";
  z-index: 1000;
  white-space: nowrap;
}

.navbar ul li:hover .dropdown-products {
  display: block;
}

.dropdown-products ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-products ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-products ul li a:hover {
  color: #ffffff;
  background-color: #000000;
}
