html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Kanit', sans-serif;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la ventana */
}

h1 {
  font-size: 28px;
  margin-left: 30px;
  margin-bottom: 0;
}

p {
  font-size: 23px;
  color: rgb(0, 0, 0);
  margin-left: 40px;
  margin-top: 5px;
}

.container {
  flex: 1; /* Permite que el contenedor se expanda para llenar el espacio disponible */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding-bottom: 50px; /* Asegura que haya espacio para el pie de página */
}

/* Footer Styling */
.footer {
  background-color: #ffffff; /* Color del fondo del footer */
  color: #000000; /* Color del texto */
  padding: 20px;
  border-top: solid 1px #bcbcbc;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* Main.css */

/* Banner Section */
.banner {
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta la altura del banner según lo necesites */
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor */
  object-position:top center; /* Centra la imagen en el contenedor */
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.banner-button {
  background-color: black;
  position: center;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.banner-button:hover {
  background-color: #333;
  transform: scale(1.05);
}
/* Sección Renueva tu Estilo */
.renueva-estilo {
  background-color: #000;
  color: #fff;
  padding: 80px 40px; /* Espaciado más amplio para resaltar la sección */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.renueva-text {
  flex: 1;
  max-width: 600px; /* Ancho máximo mayor para ocupar más espacio */
  margin-right: 40px; /* Más espacio entre el texto y el video */
  text-align: center; 
}

.renueva-text h2 {
  font-size: 32px; /* Tamaño de fuente más grande para el título */
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.renueva-text p {
  font-size: 18px; /* Aumentar tamaño de fuente para el párrafo */
  color: #aaa; /* Color gris claro para un contraste suave */
  margin-bottom: 20px;
}

.banner-button {
  padding: 12px 24px; /* Botón más grande */
  font-size: 16px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.3s;
}

.banner-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.video-container {
  flex: 1;
  max-width: 800px; /* Cambia el ancho máximo */
  width: 100%;
  height: 350px; /* Cambia el alto según lo que necesites */
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(251, 251, 251);
}

.youtube-video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
