.order-confirmation-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-icon {
  font-size: 50px;
  color: #28a745;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.order-summary {
  margin-top: 20px;
}

.order-summary h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.order-summary p {
  font-size: 16px;
  margin-bottom: 5px;
}

.order-summary .total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button:hover {
  background-color: #444;
}
.product-grid {
  display: flex;
  flex-wrap: wrap; /* Permite que los productos pasen a la siguiente fila si no caben en la misma */
  gap: 10px; /* Espacio entre los productos */
  justify-content: space-between; /* Distribuir el espacio entre los productos */
}

.product-card {
  flex: 1 1 300px; /* Cada tarjeta tendrá un ancho mínimo de 300px y se ajustará según el espacio disponible */
  max-width: 300px; /* Limitar el ancho máximo */
}
